#Ignore Everything
*

#Now add back what we want
!LICENSE
!stack.yaml
!stack.yaml.lock
!modelChecking.cabal
!*.nix
!flake.*
!*.org

!src
!src/*.org
!src/*.hs

!test
!test/*.org
!test/*.hs
!test/images
!test/images/*.tex
!test/images/*.svg
