#Ignore Everything
*

#Now add back what we want
!LICENSE
!Dockerfile
!stack.yaml
!stack.yaml.lock
!hModC.cabal
!*.nix
!flake.*
!*.org

!src
!src/*.org
!src/*.hs

!case_study
!case_study/*.org
!case_study/*.hs

!test
!test/*.org
!test/*.hs
!test/images
!test/images/*.tex
!test/images/*.svg
